name: Python Flask deployment
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Docker build tag
        id: set-tag
        run: echo "DOCKER_TAG=${{ github.sha }}" >> $GITHUB_ENV

      - name: Clean docker system
        run: |
          sudo docker system prune -af

      - name: build docker image
        run: |
          sudo docker build -t python-flask:$DOCKER_TAG .

      - name: Login to Docker Registry
        run: |
          sudo docker login -u ${{ secrets.DOCKERHUB_UNAME }} --password ${{ secrets.DOCKERHUB_PASSWD }}

      - name: docker tag
        run: |
          sudo docker tag python-flask:$DOCKER_TAG ramupunuru/python-flask:$DOCKER_TAG

      - name: Push Docker Image
        run: sudo docker push ramupunuru/python-flask:$DOCKER_TAG

      # - name: Checkout code k8s-manifest repo
      #   if: github.ref == 'refs/heads/main'
      #   uses: actions/checkout@v3
      #   with:
      #     repository: ramupunuruorg/k8s-manifests
      #     github-server-url: https://github.com/
      #     ref: "main"
      #     sparse-checkout: |
      #       apps/python_flask_pod.yml
      #     sparse-checkout-cone-mode: false
      #     token: ${{ secrets.GIT_PA_TOKEN }}

      # - name: Update Image Tag in Kubernetes Manifest
      #   run: |
      #     sudo sed -i 's;ramupunuru/python-flask:.*;ramupunuru/python-flask:'"$DOCKER_TAG"';g' ./apps/python_flask_pod.yml
      #     cat ./apps/python_flask_pod.yml
      # - name: commit and push changes
      #   # if: github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/main'
      #   run: |
      #     git config --global user.email "kittu.punuru@gmail.com"
      #     git config --global user.name "ramu"
      #     git add . && git commit -m "change image tag for python-flask service $DOCKER_TAG"
      #     git push origin main
